@import './mixins';
@import './variables';

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

#root {
  display: flex;
  overflow-x: auto;
  min-height: 100vh;
}