@import './mixins';
@import './variables';

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

#root {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.green {
  $self: &;
  &__loader {
    animation: g__loader 1s linear infinite;
    margin-right: 10px;
    transform-origin: center;
    will-change: transform;
    @keyframes g__loader {
      from { transform: rotate(0deg) } to { transform: rotate(360deg) }
    }

    &-wrap {
      font-weight: bolder;
      font-size: 0.9rem;
      letter-spacing: 0.04rem;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__button {
    padding: 9px 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color $normal-speed $normal-ease;
    &:disabled {
      background-color: rgba(0,0,0,0.2);
    }
  }

  &__input {
    padding: 9px 12px;
    color: rgba(0,0,0,0.8);
    max-width: 300px;
    box-sizing:content-box;
    border: 1.5px solid rgba(0,0,0,0.08);
    transition: border-color $normal-speed $normal-ease;
    border-radius: 4px;
    &:hover, &:active {
      border-color: rgba(0,0,0,0.15);
    }
    &--select {
      font-weight: 500;
    }

    &-label {
      font-size: 0.85rem;
      padding: 0 0 4px 1px;
      color: rgba(0,0,0,0.7);
      font-weight: 500;
    }
    &-group {
      @include flex(column);
      margin-bottom: 15px;
    }
  }
}