@import '../mixins';
@import '../variables';

.orgs {
  $self: &;
  &__list {
    &-btn {
      padding: 9px 14px;
      border: none;
      background-color: rgba(0, 0, 0, 0.04);
      margin: 20px 0 -10px -5px;
      border-radius: 99px;
      transition: background-color $normal-speed $normal-ease;
      &-icon {
        margin-right: 6px;
        transition: transform $normal-speed $normal-ease;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        & #{ $self }__btn-icon {
          transform: transition3d(0, 0, 0) rotate(90deg);
        }
      }
    }
  }

  &__page {
    &-title {
      padding-bottom: 14px;
    }
    &-subtitle {
      font-size: 1.2rem;
      padding-bottom: 8px;
    }
    &-form {
      padding-bottom: 20px;
    }
  }

  &__buttons.green__input-group {
    @include flex(row);
  }

  &__submit {
    width: 100px;
    background-color: $logo-color;
  }

  &__exit {
    width: 100px;
    margin-left: 10px;
    background-color: #dc3545;
  }

  &__modal .modal__box {
    padding: 20px 30px 0;
    @include flex(column, center, flex-start);
  }

  &__temp {
    @include flex(flex-start, center);
    font-size: 0.75rem;
    margin-left: -5px;
    &-head {
      font-size: 0.8rem;
    }
    &-icon {
      padding: 10px;
      border-radius: 999px;
      margin-right: 10px;
      color: transparent;
      background-color: rgba(0,0,0,0.06);
      transition:
        background-color $slow-speed $normal-ease,
        color $slow-speed $normal-ease
      ;
    }
  }

  &__user {
    &-head {
      font-size: 0.9rem;
    }
    &-subhead {
      font-size: 0.75rem;
      font-weight: 500;
      font-style: italic;
      color: rgba(0,0,0,0.7);
    }
  }

  & .collect--orgs {
    max-width: 327px;
    & .collect__item--active {
      & #{ $self }__temp-icon {
        color: white;
        background-color: $logo-color;
      }
    }
  }
}