@import '../mixins';
@import '../variables';

.query {
  &__header {
    padding-bottom: 14px;
    &--mid {
      padding-top: 20px;
    }
  }
  &__result {
    width: 100%;
    min-height: 300px;
    background-color: white;
    max-width: 600px !important;
    overflow: auto;
  }
  &__modal {
    padding: 20px 30px;
  }
  &__list {
    @include flex(column);
    & .list--query {
      flex-grow: 1;
      height: auto;
    }
    &-button {
      border: none;
      background: white;
      padding: 15px;
    }
  }
}