@import '../mixins';
@import '../variables';

.upload {
  $self: &;
  width: 100%;
  background-color: rgba(0,0,0,0.02);
  @include flex;
  &__item-status {
    &--missing, &--error {
      color: #dc3545;
    }
    &--uploaded {
      color: #f5b800;
    }
    &--submitted {
      color: #007bff;
    }
  }
  &__item-icon {
    margin-right: 4px;
  }
  &__item-header {
    @include flex(row, flex-start, center);
    position: relative;
    margin: 6px 0;
  }
  &__item-title {
    color: black;
    font-size: 0.86rem;
    margin-right: auto;
  }
  &__item-label {
    font-size: 0.75rem;
  }
  &__item-text {
    overflow: hidden;
  }
  &__page {
    padding: 20px;
    background-color: white;
    flex-grow: 1;
  }
}