@import '../../mixins';
@import '../../variables';

.nav {
  width: 20%;
  max-width: 280px;
  min-width: 240px;
  background-color: white;

  &__body {
    font-size: 0.88rem;
    height: 100%;
    @include flex(column);
  }

  &__icon {
    @include flex(center);
    margin-right: 15px;
    width: 20px;
    &--logo {
      font-size: 1.1rem;
    }
  }

  &__item {
    padding: 15px 10px 15px 24px;
    color: rgba(0,0,0,0.6);
    transition: color $page-speed $normal-ease;
    @include flex;
    &--active, &:hover {
      color: black
    }
    &--logo, &--logo:hover {
      font-size: 1rem;
      color: $logo-color;
      padding: 30px 10px 25px 24px;
      margin-bottom: 10px;
    }
    &--logout {
      margin-top: auto;
      margin-bottom: 10px;
    }
  }
  &__link {
    width: 100%;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    @include flex(flex-start, center);
  }
  &__footer {
    margin-top: auto;
  }
  &__logout {

  }
}