@import '../mixins';
@import '../variables';

.collect {
  list-style-type: none;
  box-sizing: border-box;
  border: 1.5px solid rgba(0,0,0,0.06);
  padding: 6px 6px 1px;
  border-radius: 4px;
  &__item {
    padding: 8px 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $normal-speed $normal-ease;
    &:hover, &--active {
      background-color: white;
    }

    &--loader {
      @include flex(flex-start, center);
      font-size: 0.8rem;
      letter-spacing: 0.02rem;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bolder;
      padding: 16px 14px;
    }
  }

  &__loader {
    font-size: 1rem;
  }
}