@import '../mixins';
@import '../variables';

.modal {
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  opacity: 1;
  @include flex(center);
  @include position(fixed, auto, 0);
  &__back {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    @include position(absolute, auto, 0);
  }
  &__box {
    max-width: 80%;
    max-height: 80%;
    height: 500px;
    width: 600px;
    border-radius: 6px;
    background-color: white;
    overflow-y: auto;
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    @include depth(1);

    transition:
      max-width $page-speed $normal-ease,
      max-height $page-speed $normal-ease,
      width $page-speed $normal-ease,
      height $page-speed $normal-ease,
      border-radius $page-speed $normal-ease,
      transform $page-speed $normal-ease
    ;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: rgba(0,0,0,0.2);
      &-thumb {
        background-color: rgba(0,0,0,0.5);
        border-radius: 99px;
      }
    }
  }
}

// Animations
.modal {
  $self: &;
  transition: opacity $page-speed $normal-ease;
  &--fade {
    opacity: 0;
    pointer-events: none;
  }
  &__box {
    #{ $self }--fade & {
      transform: translate3d(0, -80px, 0);
    }
  }
}

@include tablet {
  .modal {
    &__box {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}