@import '../mixins';
@import '../variables';

.profile {
    @include flex(column, center);
    width: 100%;

    &__form {
        @include flex(column, center);
        box-sizing: border-box;
        background-color: red;
    }
    &__organization-info {

    }
}